.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 40px;
}

.about-column {
    max-width: 20vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}

.about-column a {
    padding: 20px;
}

.about-img {
    flex: 0 1 auto;
    width: 200px;
}

.about-img img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .about-section {
      flex-direction: column;
    }
    .about-column {
        max-width: 90vw;
    }
    .about-column a {
        padding: 5px;
    }
}

body {
    color: white;
}