.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  margin: 0px 100px;
}

.project-slider {
  max-width: 1000px;
  justify-content: center;

}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide-content {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center children horizontally */
    justify-content: center;
    /* Center children vertically if there's enough space */
    text-align: center;
    /* Center text for the caption */
    height: 100%;
    /* Take up full height to allow for vertical centering */
}

.slide-content img {
  height: 400px;
}

/* Target all slides and apply a fade effect */
.slick-slide {
    opacity: 0.5; /* Fade out all slides */
    transition: opacity 0.5s ease; /* Smooth transition for the fade effect */
  }
  
  /* Ensure the centered slide is fully opaque */
  .slick-center {
    opacity: 1 !important; /* Override to make the active slide fully visible */
  }

  @media (max-width: 1100px) {
    .project-slider {
      max-width: 80vw;
    }
    .slide-content img {
      height: 30vw;
    }
}